.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  height: 100%;

  padding-right: 1.5rem;
  padding-bottom: 1.5rem;

  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .contact {
    padding: 0 1.5rem 1.5rem;
    margin-bottom: 6rem;
  }
}

.contact .form {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  height: 100%;

  align-items: flex-start;

  gap: 1.5rem;

  overflow: hidden;
}

.form .fandlname {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
  height: fit-content;

  gap: 1.5rem;
}
@media only screen and (max-width: 1440px) {
  .form .fandlname {
    flex-direction: column;
  }
}

.input {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  height: fit-content;

  align-items: flex-start;

  gap: 8px;
}

.input label[data-label] {
  font-size: 0.75rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.06rem;
  color: var(--neutral-50);
}

.input input[data-input] {
  display: flex;
  padding: 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;

  width: 100%;

  align-self: stretch;
  border-radius: 1.5rem;
  background: var(--neutral-950);
  font-size: 4.75rem;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;

  color: var(--neutral-50);
}
@media only screen and (max-width: 1440px) {
  .input input[data-input] {
    font-size: clamp(1.5em, 5vw, 4.75em);
    border-radius: clamp(1rem, 1.75vw, 1.5rem);
    -webkit-border-radius: clamp(1rem, 1.75vw, 1.5rem);
    -moz-border-radius: clamp(1rem, 1.75vw, 1.5rem);
    -ms-border-radius: clamp(1rem, 1.75vw, 1.5rem);
    -o-border-radius: clamp(1rem, 1.75vw, 1.5rem);
  }
}
.input input[data-input]::placeholder {
  color: var(--input-placeholder);
}
.textarea {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  height: fit-content;

  align-items: flex-start;

  gap: 8px;
}

.textarea label[data-label] {
  font-size: 0.75rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.06rem;
  color: var(--neutral-50);
}

.textarea textarea {
  display: flex;
  padding: 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;

  width: 100%;

  align-self: stretch;
  border-radius: 1.5rem;
  background: var(--neutral-950);
  font-size: 4.75rem;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  -ms-overflow-style: none;
  color: var(--neutral-50);

  resize: none;
}
@media only screen and (max-width: 1440px) {
  .textarea textarea {
    min-height: 20rem;
    font-size: clamp(1.5em, 5vw, 4.75em);
    border-radius: clamp(1rem, 1.75vw, 1.5rem);
    -webkit-border-radius: clamp(1rem, 1.75vw, 1.5rem);
    -moz-border-radius: clamp(1rem, 1.75vw, 1.5rem);
    -ms-border-radius: clamp(1rem, 1.75vw, 1.5rem);
    -o-border-radius: clamp(1rem, 1.75vw, 1.5rem);
  }
  .textarea div[data-counter] {
    font-size: clamp(12px, 1.25vw, 1em);
  }
}
.textarea textarea::placeholder {
  color: var(--input-placeholder);
}
.textarea textarea::-webkit-scrollbar {
  display: none;
}

.textarea div[data-counter] {
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: nowrap;

  width: fit-content;
  height: fit-content;

  right: 1.25rem;
  bottom: 1.25rem;
}

.form .formactions {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
  height: fit-content;

  align-items: center;
  justify-content: space-between;
}

.formactions .formaction {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;

  width: fit-content;
  height: fit-content;

  align-items: center;
  justify-content: center;

  padding: 0.75rem;

  border-radius: 1.5rem;

  background: var(--neutral-950);
}

.formaction:disabled {
  cursor: default;
}

.formaction p {
  text-align: center;
  font-size: 4.75rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  color: var(--neutral-50);
}
@media only screen and (max-width: 1440px) {
  .formaction.formaction {
    border-radius: clamp(1rem, 1.75vw, 1.5rem);
    -webkit-border-radius: clamp(1rem, 1.75vw, 1.5rem);
    -moz-border-radius: clamp(1rem, 1.75vw, 1.5rem);
    -ms-border-radius: clamp(1rem, 1.75vw, 1.5rem);
    -o-border-radius: clamp(1rem, 1.75vw, 1.5rem);
  }
  .formaction p {
    font-size: clamp(1.5em, 5vw, 4.75em);
  }
}
.sending {
  border: none;
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: ease 0.2s;
  position: relative;
  background: none;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
}

.sending li {
  list-style: none;
  height: 30px;
  width: 4px;
  border-radius: 10px;
  background: var(--neutral-300);
  margin: 0 6px;
  padding: 0;
  animation-name: wave1;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: ease 0.2s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
}

.sending li:nth-child(2) {
  animation-name: wave2;
  animation-delay: 0.2s;
}

.sending li:nth-child(3) {
  animation-name: wave3;
  animation-delay: 0.23s;
  animation-duration: 0.4s;
}

.sending li:nth-child(4) {
  animation-name: wave4;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
}

.sending li:nth-child(5) {
  animation-delay: 0.5s;
}

.sending li:nth-child(6) {
  animation-name: wave2;
  animation-duration: 0.5s;
}

.sending li:nth-child(8) {
  animation-name: wave4;
  animation-delay: 0.4s;
  animation-duration: 0.25s;
}

.sending li:nth-child(9) {
  animation-name: wave3;
  animation-delay: 0.15s;
}

@keyframes wave1 {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0.5);
  }
}

@keyframes wave2 {
  from {
    transform: scaleY(0.3);
  }

  to {
    transform: scaleY(0.6);
  }
}

@keyframes wave3 {
  from {
    transform: scaleY(0.6);
  }

  to {
    transform: scaleY(0.8);
  }
}

@keyframes wave4 {
  from {
    transform: scaleY(0.2);
  }

  to {
    transform: scaleY(0.5);
  }
}
