.fullcode {
    display: grid;
    width: 100%;
    padding-bottom: 2rem;
}
.fullcode .sideheader {
    display: grid;
    position: absolute;

    width: 17.75rem;
    
    grid-column: 1;

    gap: 1rem;
    
    left: 0;
    margin-top: 0;
}
@media only screen and (max-width: 1440px) {
    .fullcode .sideheader {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 2rem;
        width: 100%;
    }
}
.sideheader .title {
    font-size: 1.5em;
    color: var(--neutral-200);
    font-weight: 500;
    text-transform: capitalize;
}
.sideheader .pillswrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}
.pillswrapper .codepill {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;

    width: fit-content;
    height: fit-content;

    padding: 6px 8px;

    border-radius: 10px;

    align-items: center;
    justify-content: center;

    background-color: var(--neutral-950);

    color: var(--neutral-50);
    font-size: 0.875em;
    font-weight: 400;

    transition: background-color 0.3s ease-out;
}
.pillswrapper .codepill:hover {
    background-color: var(--neutral-800);
}
.pillswrapper .codepill[data-isactive="true"] {
    background-color: var(--neutral-800);
    outline: 2px solid var(--neutral-300);
}
.fullcode .codewrapper .codeblock[data-isvisible="false"] {
    display: none;
}