/* App.css
/* ---------------------------------------------------------- /*
# Table of Contents

- Vars
- UI Base
- Font Base Styling
- Layout Styling
- 

/* Variables
/* ---------------------------------------------------------- */

:root {
  /* Colors */
  --color-night: #0C0C0C;
  --color-seasalt: #F6FBFC;
  --color-risdblue: #1B53FA;
  --color-giantsorange: #FA541C;
  --color-semantic-warning: #ffd014;
  --color-semantic-safety: #1250ff;
  --color-semantic-success: #43db53;
  --color-semantic-danger: #ff1c22;

  /* Outer Margins */
  --margin-outer-desktop: 4rem;
  --margin-outer-tablet: 3rem;
  --margin-outer-mobile: 1.5rem;
}

:root[data-theme="light"] {
  --background-radial-one: rgb(255, 255, 255, 1);
  --background-radial-two: rgba(246, 251, 252, 1);
  --color-primary: #1b53fa;
  --color-secondary: #FA541C;
  --neutral-absolute: #f6fbfc;
  --neutral-alt: #0c0c0c;
  --neutral-50: #0b205b;
  --neutral-100: #0b3ec8;
  --neutral-200: #0b3ec8;
  --neutral-300: #1b53fa;
  --neutral-400: #1250ff;
  --neutral-500: #357cff;
  --neutral-600: #5aa2ff;
  --neutral-700: #89c8ff;
  --neutral-800: #b5dfff;
  --neutral-900: #d6eeff;
  --neutral-950: #e8f7ff;
  --menubars-bg: #d6eeff;
  --menu-button: #0b205b;
  --navlink-active-bg: #357cff;
  --navlink-active-color: #e8f7ff;
  --button-hover: #b5dfff;
  --logo-bg: #0b205b;
  --scrollbar-color: #1b53fa transparent;
}

:root[data-theme="dark"] {
  --background-radial-one: rgb(0, 0, 0, 1);
  --background-radial-two: rgba(12, 12, 12, 1);
  --color-primary: #fa541c;
  --color-secondary: #1b53fa;
  --neutral-absolute: #0c0c0c;
  --neutral-alt: #f6fbfc;
  --neutral-950: #1e1e1e;
  --neutral-900: #1e1e1e;
  --neutral-800: #414141;
  --neutral-700: #525252;
  --neutral-600: #636363;
  --neutral-500: #757575;
  --neutral-400: #868686;
  --neutral-300: #979797;
  --neutral-200: #a8a8a8;
  --neutral-100: #bababa;
  --neutral-50: #cbcbcb;
  --menubars-bg: #1e1e1e;
  --menu-button: #f6fbfc;
  --navlink-active-bg: #dcdcdc;
  --navlink-active-color: #1e1e1e;
  --button-hover: #2f2f2f;
  --logo-bg: #f6fbfc;
  --scrollbar-color: #fa541c transparent;
}

* {
  font-style: normal;
  scroll-behavior: smooth;
  scrollbar-color: var(--scrollbar-color);
  scrollbar-width: thin;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  height: 32px;
  border-radius: 2px;
}

html,
body {
  background: radial-gradient(
    52.2% 133.67% at 3.36% 6.62%,
    var(--background-radial-one) 0%,
    var(--background-radial-two) 100%
  );
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 5;
}
.hwrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 58.5rem;
}
button {
  box-shadow: none;
  outline: none;
  border: none;
  appearance: none;

  cursor: pointer;
  background-color: unset;

  transition: background-color 0.3s ease-out;
}
a {
  box-shadow: none;
  outline: none;
  border: none;
  appearance: none;
  text-decoration: none;

  cursor: pointer;
  background-color: unset;

  transition: background-color 0.3s ease-out;
}