.home {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: flex-start;

  padding-bottom: 1.5rem;
  padding-right: 1.5rem;

  gap: 1.5rem;

  overflow: hidden;

  z-index: 5;
}
@media only screen and (max-width: 1440px) {
  .home {
    height: fit-content;
    padding: 0;
    margin-bottom: 6rem;
  }
}
.home .rowone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  width: 100%;
  height: 66.5%;

  gap: 2rem;

  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .home .rowone {
    display: flex;
    flex-direction: column;
    height: fit-content;
    order: 1;
  }
}
.home .rowtwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 33.5%;

  gap: 2rem;

  overflow: hidden;
}
.aboutme {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: flex-start;

  padding: 1.5rem;
  gap: 1rem;

  background-color: var(--color-risdblue);

  border-radius: 2rem;

  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .aboutme {
    height: fit-content;
    padding: clamp(1rem, 1.75vw, 1.5rem);
  }
}
.aboutme .header {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
@media only screen and (max-width: 1440px) {
  .aboutme .header {
    height: fit-content;
    gap: clamp(8px, 1vw, 1rem);
  }
}
.header h3 {
  font-size: clamp(1.5em, 3vw, 4em);
  font-weight: 700;
  color: var(--color-seasalt);
  text-transform: uppercase;
  white-space: nowrap;
}
@media only screen and (max-width: 1440px) {
  .aboutme .header h3 {
    font-size: clamp(1.5em, 5vw, 6em);
  }
}
.header .decoration {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: center;

  z-index: 4;
}
@media only screen and (max-width: 1440px) {
  .aboutme .header .decoration {
    height: clamp(1.5em, 5vw, 6em);
  }
}
.decoration .square {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex-wrap: nowrap;
  width: fit-content;
  height: 3.25rem;
  align-items: center;
  justify-content: center;

  right: 4rem;

  padding: 0 12px;

  background-color: var(--color-risdblue);

  z-index: 5;
}
@media only screen and (max-width: 1440px) {
  .decoration .square {
    height: clamp(1.75em, 5.5vw, 6.5em);
    padding: 0 clamp(8px, 1vw, 12px);
  }
}
.square div {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 3rem;
  height: 3rem;

  border: 2px solid var(--color-seasalt);
  border-radius: 1rem;
}
@media only screen and (max-width: 1440px) {
  .square div {
    width: clamp(1.5em, 5vw, 6em);
    height: clamp(1.5em, 5vw, 6em);
    border-radius: clamp(8px, 1.25vw, 1rem);
    -webkit-border-radius: clamp(8px, 1.25vw, 1rem);
    -moz-border-radius: clamp(8px, 1.25vw, 1rem);
    -ms-border-radius: clamp(8px, 1.25vw, 1rem);
    -o-border-radius: clamp(8px, 1.25vw, 1rem);
  }
}
.decoration .lineswrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.lineswrapper div {
  width: 100%;
  height: 2px;
  background-color: var(--color-seasalt);
  border-radius: 1px;
}
.aboutme .content {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;

  align-items: flex-start;
  gap: 5rem;

  overflow: auto;
}
@media only screen and (max-width: 1440px) {
  .aboutme .content {
    gap: clamp(2rem, 6vw, 5rem);
  }
}
.content p {
  font-size: clamp(1.5em, 1.5vw, 1.75em);
  font-style: normal;
  font-weight: 300;
  text-align: left;
  color: var(--color-seasalt);
}
@media only screen and (max-width: 1440px) {
  .content p {
    font-size: clamp(1.25em, 2.25vw, 2.75em);
  }
}
.whatiliketodo {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: flex-start;

  padding-top: 1.5rem;

  gap: 1.5rem;

  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .whatiliketodo {
    height: fit-content;
    padding: clamp(1rem, 1.5vw, 1.5rem);
    background-color: var(--neutral-950);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
}
.whatiliketodo .navbar {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 4rem;
  align-items: center;

  padding: clamp(2px, 0.3vw, 8px) 0;

  gap: clamp(8px, 0.5vw, 3rem);
}
@media only screen and (max-width: 1440px) {
  .whatiliketodo .navbar {
    height: fit-content;
  }
}
@media only screen and (max-width: 648px) {
  .whatiliketodo .navbar {
    justify-content: space-between;
  }
}
.navbar .controls {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
  height: 100%;
  gap: clamp(8px, 1vw, 12px);
}
@media only screen and (max-width: 1440px) {
  .navbar .controls button {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
@media only screen and (max-width: 648px) {
  .navbar .controls {
    display: none;
  }
}
.controls .gridview {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: clamp(2rem, 3vw, 3rem);
  height: clamp(2rem, 3vw, 3rem);
  align-items: center;
  justify-content: center;

  padding: 10px;

  border-radius: 1rem;

  background-color: var(--color-giantsorange);
}
.gridview svg {
  font-size: 1.5em;
  color: var(--color-seasalt);
}
.controls .listview {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: clamp(2rem, 3vw, 3rem);
  height: clamp(2rem, 3vw, 3rem);
  align-items: center;
  justify-content: center;

  padding: 10px;

  border-radius: 1rem;

  background-color: var(--color-risdblue);
}
.listview svg {
  font-size: 1.5em;
  color: var(--color-seasalt);
}
.controls .changetheme {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: clamp(2rem, 3vw, 3rem);
  height: clamp(2rem, 3vw, 3rem);
  align-items: center;
  justify-content: center;

  padding: 10px;

  border-radius: 1rem;

  background-color: var(--neutral-alt);
}
.changetheme svg {
  font-size: 1.5em;
  color: var(--neutral-absolute);
}
.navbar .addressbar {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: clamp(2rem, 3vw, 3rem);
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  padding: 2px 8px;
  border-radius: clamp(10px, 1.25vw, 16px);
  background-color: var(--menubars-bg);
  -webkit-border-radius: clamp(10px, 1.25vw, 16px);
  -moz-border-radius: clamp(10px, 1.25vw, 16px);
  -ms-border-radius: clamp(10px, 1.25vw, 16px);
  -o-border-radius: clamp(10px, 1.25vw, 16px);
}
@media only screen and (max-width: 1440px) {
  .addressbar.addressbar {
    background-color: var(--neutral-absolute);
  }
}
@media only screen and (max-width: 648px) {
  .addressbar {
    max-width: 60%;
  }
  .addressbar.addressbar p {
    font-size: clamp(12px, 1.5vw, 1em);
  }
}
.addressbar .ssl {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;

  border-radius: 8px;

  transition: background-color 0.3s ease-out;
}
.addressbar .ssl:hover {
  background-color: var(--button-hover);
}
.ssl svg {
  font-size: 1em;
  color: var(--menu-button);
}
.addressbar p {
  font-size: 1em;
  font-weight: 300;
  text-transform: lowercase;
  text-align: left;
  color: var(--menu-button);
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.navbar .navigation {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
  height: 100%;

  gap: clamp(8px, 1vw, 12px);
}
.navigation .navbutton {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: clamp(2rem, 3vw, 3rem);
  height: clamp(2rem, 3vw, 3rem);

  align-items: center;
  justify-content: center;

  padding: 10px;
  border-radius: 16px;
}
@media only screen and (max-width: 1440px) {
  .navigation .navbutton {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
.navbutton svg {
  font-size: 1.5em;
  color: var(--neutral-alt);
}
.navbutton:hover {
  background-color: var(--menubars-bg);
}
@media only screen and (max-width: 1440px) {
  .navbutton:hover {
    background-color: var(--neutral-800);
  }
}
.whatiliketodo .areas {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 2rem;

  overflow: hidden;
}
@media only screen and (max-width: 648px) {
  .whatiliketodo .areas {
    display: flex;
    flex-direction: column;
  }
}
.areas .area {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 1.5vw, 1.5rem);
  padding: clamp(1rem, 2vw, 2rem);

  border: 2px solid var(--logo-bg);
  border-radius: 32px;

  transition: background-color 0.3s ease-out;
}
.area .areaicon svg {
  font-size: clamp(2em, 2.5vw, 3em);
  color: var(--logo-bg);
}
@media only screen and (max-width: 1440px) {
  .areas .area {
    aspect-ratio: 1/1;
  }
}
@media only screen and (max-width: 648px) {
  .area .areaicon svg {
    font-size: clamp(2em, 12.5vw, 12em);
  }
}
.area .areatext p {
  font-size: clamp(1.25em, 1.5vw, 1.5em);
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  color: var(--logo-bg);
}
@media only screen and (max-width: 648px) {
  .area .areaicon p {
    font-size: clamp(1.25em, 6.5vw, 8.5em);
  }
}
.area:hover {
  background-color: var(--neutral-900);
}
@media only screen and (max-width: 1440px) {
  .area:hover {
    background-color: var(--neutral-800);
  }
}
.areas[data-isview="list"] {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: initial;
  align-content: space-between;
}
@media only screen and (max-width: 1440px) {
  .areas[data-isview="list"] {
    gap: 1rem;
    aspect-ratio: 12/1;
    overflow: visible;
  }
  .areas[data-isview="list"] .area {
    aspect-ratio: 12/1;
  }
}
.areas[data-isview="list"] .area {
  flex-direction: row;
  border-radius: 18px;
  height: fit-content;
  padding: 12px;
}
.areas[data-isview="list"] .area .areaicon svg {
  font-size: 1.5em;
}
.areaicon {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
}
.rowtwo .bentoswrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: flex-start;

  gap: 8px;
  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .rowtwo.rowtwo {
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: visible;
    order: 0;
  }
  .rowtwo.rowtwo .bentoswrapper {
    height: fit-content;
    overflow: visible;
  }
}
.bentoswrapper .brow {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;

  gap: 8px;
  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .bentoswrapper .brow {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}
.brow .bentotext {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
  height: 100%;

  align-items: center;
  justify-content: center;

  border-radius: 2rem;
  padding: 1rem;

  background-color: var(--neutral-900);
}
@media only screen and (max-width: 1440px) {
  .brow .bentotext {
    width: 100%;
    height: auto;
    aspect-ratio: 12/3;
  }
  .bentotext.bentotext p {
    white-space: wrap;
  }
  .bentotext[data-is="hello"] p {
    font-size: clamp(5.5em, 26vw, 24em);
  }
  .bentotext[data-is="name"] p {
    font-size: clamp(3.25em, 16vw, 15em);
  }
  .bentotext[data-is="fullstack"] p {
    font-size: clamp(2.75em, 15vw, 14em);
  }
}

.bentotext p {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--neutral-alt);
  white-space: nowrap;
}
.brow .bentoimage {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
  height: 100%;

  align-items: center;
  justify-content: center;

  border-radius: 2rem;
  border: 2px solid var(--color-secondary);

  background-color: var(--neutral-900);

  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .brow .bentoimage {
    height: auto;
    aspect-ratio: 12/3;
    width: 100%;
  }
}
.bentoimage img {
  width: 140%;
  height: auto;
  object-position: center;
}
.brow .bentospace {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;

  border-radius: 2rem;

  background-color: var(--neutral-900);
}
@media only screen and (max-width: 1440px) {
  .brow .bentospace {
    display: none;
  }
}
.rowtwo .banner {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  padding: 1.5rem;
  border-radius: 2rem;

  background-color: var(--color-giantsorange);
}
.banner p {
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 150%;
  color: var(--neutral-absolute);
}
@media only screen and (max-width: 1440px) {
  .banner p {
    font-size: clamp(2em, 8vw, 6em);
  }
}