.likecomp {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;

    width: fit-content;
    height: fit-content;

    align-items: center;

    gap: 12px;
}
.likebutton {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;

    width: fit-content;
    height: fit-content;

    align-items: center;
    justify-content: center;

    padding: 4px;

    border-radius: 8px;

    background-color: var(--background-950);

    scale: 1;

    filter: blur(0);
}

.likebutton[data-hover="true"] {
    border-radius: 10px;
    scale: 1.12;
    filter: blur(0.3px);
}

.likebutton[data-liked="true"] {
    background-color: var(--primary-500);
    cursor: default;
}

.likebutton div {
    display: flex;
    position: relative;
    flex-direction: column;

    width: 1.5rem;
    height: 1.5rem;

    align-items: center;
    justify-content: center;

    scale: 1;
}

.likebutton[data-hover="true"] div {
    scale: 1.3;
}

.likebutton div svg {
    font-size: 1.5em;
    color: var(--background-100);
}

.likebutton[data-liked="true"] div svg {
    color: var(--foreground-50);
}
.counter {
    display: flex;
    position: relative;
    flex-direction: column;

    align-items: center;
}