.navlink {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--background-950);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.navlink span {
  font-size: 1.5em;
  color: var(--foreground-50);
  line-height: 0;
  transition: scale 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition: scale 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: scale 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -ms-transition: scale 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: scale 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.navlink p {
  font-size: 1em;
  font-weight: 400;
  color: var(--foreground-200);
  transition: color 0.4s ease-out;
  -webkit-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -ms-transition: color 0.4s ease-out;
  -o-transition: color 0.4s ease-out;
}
.navlink:hover span {
  scale: 1.3;
}
