.projects {
  display: grid;
  position: relative;
  grid-template-columns: 0.36fr 0.64fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  grid-gap: 1.5rem;
  gap: 1.5rem;

  overflow: hidden;
  z-index: 5;
}
@media only screen and (max-width: 1440px){
  .projects {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 1.5rem;
    height: fit-content;
    margin-bottom: 6rem;
  }
}
.projects .filesystem {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.35fr 0.65fr;
  width: 100%;
  height: 100%;

  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .projects .filesystem {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 1.5rem;
  }
}
.filesystem .navigator {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;

  align-items: flex-start;
  gap: 1rem;

  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .filesystem .navigator {
    height: fit-content;
  }
}
.navigator .title {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 2rem;

  align-items: flex-start;
  gap: 1rem;

  overflow: hidden;
  flex-shrink: 0;
}
@media only screen and (max-width: 1440px) {
  .navigator .title {
    gap: 4px;
  }
}
.navigator .title a {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 2rem;
  height: 2rem;

  align-items: center;
  justify-content: center;
  padding: 5px;

  border-radius: 12px;
}
.navigator .title a svg {
  font-size: 1.5em;
  color: var(--neutral-alt);
}
.navigator .title a:hover {
  background-color: var(--neutral-900);
}
.navigator .title h3 {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;

  color: var(--neutral-alt);
  background-color: var(--neutral-900);

  border-radius: 12px;
  padding-bottom: 2px;

  font-size: 1em;
  text-align: center;
  text-transform: uppercase;

  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}
@media only screen and  (max-width: 1440px) {
  .navigator .title h3 {
    font-size: clamp(1em, 2vw, 1.5em);
  }
}
.navigator .title .selectors {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    height: 100%;

    gap: 8px;
}
.navigator .title .selectors button {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;

    border-radius: 12px;
}
.navigator .title .selectors button:hover {
    background-color: var(--neutral-900);
}
.navigator .title .selectors button svg {
    font-size: 2.5em;
    color: var(--neutral-alt);
}
.navigator .grid {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;

    gap: 8px;
    overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .navigator .grid {
    height: fit-content;
  }
}
.grid .header {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 2rem;

    background-color: var(--neutral-900);
    border-radius: 12px;

    align-items: center;
    padding-bottom: 2px
}
.grid .header div {
    flex: 1 0 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 1em;
    font-weight: 500;
    color: var(--neutral-alt);
    text-align: center;
    text-transform: capitalize;
}
.grid .row {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 2rem;

    border-radius: 12px;

    align-items: center;
    padding-bottom: 4px;
}
.grid .row div {
    flex: 1 0 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 1em;
    font-weight: 300;
    color: var(--neutral-alt);
    text-align: center;
    text-transform: lowercase;
}
@media only screen and (max-width: 1440px) {
  .grid .row div {
    font-size: clamp(1em, 1.5vw, 1.25em);
  }
}
.grid .row[data-isactive="true"] {
    outline: 2px solid var(--menu-button);
    outline-offset: -3px;
}
.filesystem .details {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;

    align-items: flex-start;
    gap: 1rem;

    overflow: hidden;
}
.details .title {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  flex-shrink: 0;
}
.details .title h2 {
  position: absolute;
  padding: 0 12px;
  
  width: fit-content;
  height: fit-content;

  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  
  font-size: 2.25em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: var(--logo-bg);

  background: radial-gradient( 52.2% 133.67% at 3.36% 6.62%, var(--background-radial-one) 0%, var(--background-radial-two) 100% );
  z-index: 6;
}
@media only screen and (max-width: 1440px) {
  .details .title h2 {
    font-size: clamp(1.25em, 5vw, 2.5em);
    max-width: clamp(10rem, 48vw, 48rem);
  }
}
.details .title .decoration {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: center;

  z-index: 4;
}
.title .decoration .square {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex-wrap: nowrap;
  width: fit-content;
  height: 2.25rem;
  align-items: center;
  justify-content: center;

  left: 2rem;

  padding: 0 8px;

  background: radial-gradient( 52.2% 133.67% at 3.36% 6.62%, var(--background-radial-one) 0%, var(--background-radial-two) 100% );

  z-index: 5;
}
@media only screen and (max-width: 1440px) {
  .title .decoration .square {
    left: 1rem;
  }
}
.title .decoration .square div {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 2rem;
  height: 2rem;

  border: 2px solid var(--menu-button);
  border-radius: 12px;
}
.title .decoration .lineswrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 1.5rem;
  justify-content: space-between;
}
.title .decoration .lineswrapper div {
  width: 100%;
  height: 2px;
  background-color: var(--menu-button);
  border-radius: 1px;
}
.details .content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;

  gap: 1.5rem;

  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .details .content {
    height: fit-content;
  }
}
.content .statusandlogo {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  width: 100%;
  height: 60%;

  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .content .statusandlogo {
    display: flex;
    flex-direction: column;
  }
}
.statusandlogo .status {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: left;

  gap: 8px;
  padding: 1rem;

  border-radius: 1.5rem;
  background-color: var(--neutral-900)
}
@media only screen and (max-width: 1440px) {
  .statusandlogo .status {
    order: 1;
  }
}
.status h4 {
  height: 3rem;

  font-size: 1.25em;
  font-weight: 600;
  color: var(--neutral-alt);
  text-transform: capitalize;
}
@media only screen and (max-width: 1440px) {
  .status h4 {
    font-size: 1.5em;
  }
}
.status .wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  height: 100%;
  align-items: flex-start;
  gap: 1rem;
}
.wrapper .percentage {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  height: fit-content;

  align-items: flex-start;
  gap: 8px;
}
.percentage h5 {
  font-size: 1em;
  font-weight: 400;
  color: var(--neutral-alt);
  text-transform: capitalize;
  text-align: left;
}
@media only screen and (max-width: 1440px) {
  .percentage h5 {
    font-size: 1.25em;
  }
}
.percentage  .value {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
  height: fit-content;

  align-items: center;
  gap: 6px;
}
.value p {
  font-size: 0.75em;
  font-weight: 300;
  color: var(--neutral-alt);
  text-transform: capitalize;
  text-align: left;
}
@media only screen and (max-width: 1440px) {
  .value p {
    font-size: 1em;
  }
}
.value .progress {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
  height: fit-content;
  padding: 2px;
  align-items: flex-start;
  gap: 4px;
}
@media only screen and (max-width: 1440px) {
  .value .progress {
    gap: 8px;
  }
}
.progress .filledsquare {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 8px;
  height: 8px;
  border: 1px solid var(--neutral-alt);
  border-radius: 2px;

  background-color: var(--neutral-alt);
}
.progress .emptysquare {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 8px;
  height: 8px;
  border: 1px solid var(--neutral-alt);
  border-radius: 2px;

  background: none;
}
.wrapper .released {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  height: fit-content;

  align-items: flex-start;
  gap: 8px;
}
.released h5 {
  font-size: 1em;
  font-weight: 400;
  color: var(--neutral-alt);
  text-transform: capitalize;
  text-align: left;
}
@media only screen and (max-width: 1440px) {
  .released h5 {
    font-size: 1.25em;
  }
}
.released .yesorno {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: fit-content;

  align-items: center;
  gap: 12px;
}
.yesorno p {
  font-size: 0.75em;
  font-weight: 300;
  color: var(--neutral-alt);
  text-transform: capitalize;
  text-align: center;
  padding: 4px 8px;
  border-radius: 6px;
}
@media only screen and (max-width: 1440px) {
  .yesorno p {
    font-size: 1em;
  }
}
.released[data-isreleased="true"] p:nth-child(1) {
  background-color: var(--color-risdblue);
  color: var(--color-seasalt);
}
.released[data-isreleased="false"] p:nth-child(2) {
  background-color: var(--color-risdblue);
  color: var(--color-seasalt);
}
.statusandlogo .logo {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  background-color: var(--neutral-900);
  border-radius: 1.5rem;

  overflow: hidden;
}
.logo img {
  width: 75%;
  height: auto;
  aspect-ratio: 1/1;
}
@media only screen and (max-width: 1440px) {
  .logo img {
    width: 50%;
  }
}
.content .description {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  height: 40%;

  align-items: center;
  justify-content: center;

  padding: 1rem;

  background-color: var(--neutral-900);
  border-radius: 2rem;

  overflow: hidden;
}
.description p {
  font-size: 1em;
  font-weight: 300;
  color: var(--neutral-alt);
  text-align: center;
}
@media only screen and (max-width: 1440px) {
  .description p {
    font-size: clamp(1em, 2.5vw, 2em);
  }
}
.projects .preview {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;

  align-items: flex-start;
  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .projects .preview {
    height: fit-content;
    overflow: visible;
    align-items: center;
    padding: 0;
  }
}
.preview .device {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: fit-content;
  align-items: flex-start;
  justify-content: space-between;

  z-index: 6;
}
@media only screen and (max-width: 1440px) {
  .preview .device {
    position: absolute;
    width: 85%;
    top: 2.5rem;
  }
}
.device button {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 12px;
  overflow: hidden;

  transition: background-color 0.3s ease-out;
}
.device button:hover {
  background-color: var(--navlink-active-bg);
}
.device button:hover svg {
  color: var(--neutral-absolute);
}
.device button svg {
  font-size: 1.5em;
  color: var(--neutral-alt);
}
.device[data-isview="mobile"] button:nth-child(1) {
  background-color: var(--navlink-active-bg);
}
.device[data-isview="mobile"] button:nth-child(1) svg {
  color: var(--neutral-absolute);
}
.device[data-isview="desktop"] button:nth-child(2) {
  background-color: var(--navlink-active-bg);
}
.device[data-isview="desktop"] button:nth-child(2) svg {
  color: var(--neutral-absolute);
}
.preview .container {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;

  border-radius: 2rem;
  background-color: var(--neutral-900);

  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  .preview .container {
    height: fit-content;
    position: relative;
  }
}
.container img {
  object-fit: cover;
  height: 100%;
  width: 100%;

  transition: scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media only screen and (max-width: 1440px) {
  .container img {
    height: auto;
    position: relative;
    aspect-ratio: 2/1.5;
  }
}
.container[data-isview="mobile"] {
  padding: 2rem;
}
.container[data-isview="mobile"] img {
  position: relative;
  border-radius: 3rem;
  width: auto;
  border: 3px solid var(--neutral-alt);
}
@media only screen and (max-width: 1440px) {
  .container[data-isview="mobile"] img {
    width: 95%;
    max-width: 480px;
    aspect-ratio: unset;
  }
}
.container img:hover {
  scale: 1.06;
}
