.sociallink {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--background-900);
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
}
.sociallink span {
  font-size: 1.5em;
  color: var(--foreground-50);
  line-height: 0;
}
